.random-button-container {
  position: absolute;
  bottom: 18px;
  right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  transition: all 200ms ease;
}

.random-icon {
  height: 2rem;
  width: 4rem;
}

.random-text {
  display: none;
  margin-left: 1rem;
}

.random-text::selection {
  color: none;
  background: none;
}

.random-icon::selection {
  color: none;
  background: none;
}

.random-button-container:hover {
  width: 7rem;
  transition: all 200ms ease;
}

.random-button-container:hover .random-text {
  display: initial;
}